In [10]:
from impresso import connect

impresso = connect()

ðŸŽ‰ You are now connected to the Impresso API!  ðŸŽ‰
ðŸ”— Using API: http://localhost:3030

# Search entities

Find all entities that contain a term in their name.

In [11]:
result = impresso.entities.find(q="Douglas Adams")
result.df.head(1)

,name,type,countItems,countMentions,wikidataId
uid,,,,,
aida-0001-50-Douglas_Adams,Douglas Adams,person,94,94,Q42

Additionaly filter by entity type.

In [12]:
result = impresso.entities.find(q="san jose", entity_type="location")
result.df.head(1)

,name,type,countItems,countMentions,wikidataId
uid,,,,,
aida-0001-54-San_Jose$2c$_California,"San Jose, California",location,2448,2846,Q16553

In [13]:
result = impresso.entities.find(q="san jose", entity_type="person", order_by="-relevance")
result.df.head(1)

,name,type,countItems,countMentions,wikidataId
uid,,,,,
aida-0001-50-San_Jose_Wolves,San Jose Wolves,person,1,1,Q7618261

Get an entity by its ID

In [14]:
result = impresso.entities.get("aida-0001-50-Douglas_Adams")
result.df

,name,type,countItems,countMentions,wikidataId,wikidata.birthDate,wikidata.deathDate,wikidata.birthPlace.id,wikidata.birthPlace.type,wikidata.birthPlace.labels.en,...,wikidata.deathPlace.country.entity-type,wikidata.deathPlace.country.numeric-id,wikidata.deathPlace.country.id,wikidata.id,wikidata.type,wikidata.descriptions.en,wikidata.descriptions.fr,wikidata.descriptions.it,wikidata.descriptions.de,wikidata.images
uid,,,,,,,,,,,,,,,,,,,,,
aida-0001-50-Douglas_Adams,Douglas Adams,person,94,94,Q42,+1952-03-11T00:00:00Z,+2001-05-11T00:00:00Z,Q350,location,Cambridge,...,item,30,Q30,Q42,human,English author and humourist (1952â€“2001),Ã©crivain de science-fiction et humoriste angla...,scrittore e umorista britannico (1952â€“2001),britischer Science-Fiction-Autor und Humorist,"[{'value': 'Douglas adams portrait.jpg', 'rank..."

Find entities by [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page) IDs.

In [15]:
from impresso import AND
result = impresso.entities.find(wikidata_id=AND("Q2", "Q4", "Q42"))
result.df

,name,type,countItems,countMentions,wikidataId
uid,,,,,
aida-0001-54-Earth,Earth,location,362,438,Q2
aida-0001-50-Douglas_Adams,Douglas Adams,person,94,94,Q42
aida-0001-54-Douglas_Adams,Douglas Adams,location,24,24,Q42
aida-0001-50-Earth,Earth,person,2,2,Q2