In [1]:
from impresso import connect

impresso = connect()

🎉 You are now connected to the Impresso API!  🎉
🔗 Using API: http://localhost:3030

# Search

Find articles in Impresso using a variety of different filters.

## Term

Find all items containing "impresso" keyword.

In [2]:
result = impresso.search.find(q="impresso")
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre ä Domdidier cherche pour ...,[article],OpenPrivate,1976,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

## With text content only

Limit to articles that have text.

In [3]:
result = impresso.search.find(q="impresso", with_text_contents=True)
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre ä Domdidier cherche pour ...,[article],OpenPrivate,1976,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

## Title
Find items that have the keyword "impresso" in their title.

In [4]:
result = impresso.search.find(title="impresso")
print(f"{result.total} items found.")
result.df.head(1)

2 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
FZG-1995-11-27-a-i0121,ar,"Kaffeemaschine ""Impresso"" Bügeleisen Dampfrein...",22,1,"[{'uid': 'FZG-1995-11-27-a-p0004', 'num': 4, '...",False,Kaffeemaschine Impresso Bügeleisen Dampfreinig...,[article],OpenPrivate,1995,...,1864-12-17T00:00:00+00:00,1864,FZG-2006-12-30-a,,[issue],False,NotDefined,2006-12-30T00:00:00+00:00,2006,True

### Complex term requests
Find items that have both terms.

In [5]:
from impresso import AND

result = impresso.search.find(title=AND("homme", "femme"))
print(f"{result.total} items found.")
result.df.head(1)

587 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-06-03-a-i0150,ar,— Qui l'a appelee ? Un homme ? Une femme...,91,1,"[{'uid': 'LLE-1961-06-03-a-p0015', 'num': 15, ...",False,— Qui la appelee ? Un homme ? Une femme ? dema...,[article],OpenPrivate,1961,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

Find items that have either one term or the other.

Here we find all articles that contain either "homme" or "femme" in the title.

In [6]:
from impresso import OR

result = impresso.search.find(title=OR("homme", "femme"))
print(f"{result.total} items found.")
result.df.head(1)

57848 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-1933-01-17-a-i0003,ar,One jeune femme promet le mariage à son maître...,132,1,"[{'uid': 'EXP-1933-01-17-a-p0001', 'num': 1, '...",True,One jeune femme promet le mariage à son maître...,[article],OpenPrivate,1933,...,1738-10-02T00:00:00+00:00,1738,EXP-2017-10-31-a,,[issue],False,NotDefined,2017-10-31T00:00:00+00:00,2017,True

## Inverted search (everything excluding term A __OR__ term B).

We want to find all articles with the word "luddite" in the title that do not mention neither "textile" nor "machine"

In [23]:
from impresso import OR

result = impresso.search.find(title="luddite", q=~OR("textile", "machine"))
print(f"{result.total} items found.")
result.df.head(1)

1 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LES-2010-02-01-a-i0024,ar,"La révolte luddite Kirkpatrick Sale, Edition L...",1,1,"[{'uid': 'LES-2010-02-01-a-p0011', 'num': 11, ...",False,"LarévolteludditeKirkpatrickSale,EditionL’Echap...",[article],OpenPrivate,2010,...,1906-01-01T00:00:00+00:00,1906,LES-2015-01-01-a,,[issue],False,NotDefined,2015-01-01T00:00:00+00:00,2015,True

### Complex combintation of terms

The following cell searches all articles with all of the the following condition:

* mentioning "hitler" and "stalin"
* also mentioning one of: "molotow" or "ribbentrop"
* and not mentioning "churchill"

In [40]:
from impresso import AND, OR

result = impresso.search.find(q=AND("hitler", "stalin") & OR("molotow", "ribbentrop") & ~OR("churchill"))
print(f"{result.total} items found.")

462 items found.

## Front page

Find articles published on the front page only

In [9]:
result = impresso.search.find(q="impresso", front_page=True)
print(f"{result.total} items found.")
result.df.head(1)

1 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1970-11-10-a-i0021,ar,Rencontre Scheel-Cyrankiewicz,249,1,"[{'uid': 'LLE-1970-11-10-a-p0001', 'num': 1, '...",False,Rencontre Scheel-Cyrankiewicz M . Walter Schee...,[article],OpenPrivate,1970,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

## Entity ID

Search by entity ID

In [10]:
result = impresso.search.find(entity_id="aida-0001-54-Switzerland")
print(f"{result.total} items found.")
result.df.head(1)

2373440 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-01-09-a-i0098,ar,Valeur,546,1,"[{'uid': 'LLE-1961-01-09-a-p0013', 'num': 13, ...",False,Valeur Emission de Lachat de parts du Fonds Su...,[article],OpenPrivate,1961,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

In [41]:
result = impresso.search.find(entity_id=AND("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

0 items found.

Empty DataFrame
Columns: []
Index: []

In [12]:
result = impresso.search.find(entity_id=OR("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

2374957 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-01-09-a-i0098,ar,Valeur,546,1,"[{'uid': 'LLE-1961-01-09-a-p0013', 'num': 13, ...",False,Valeur Emission de Lachat de parts du Fonds Su...,[article],OpenPrivate,1961,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

## Newspaper

Search by newspaper

In [13]:
result = impresso.search.find(q="banana", newspaper_id=OR("EXP", "GDL"))
print(f"{result.total} items found.")
result.df.head(1)

554 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-2013-08-31-a-i0228,ar,"Banana, Feindouno et Feltscher à Lausanne",104,1,"[{'uid': 'EXP-2013-08-31-a-p0027', 'num': 27, ...",False,"Banana, Feindouno et Feltscher à Lausanne FOOT...",[article],OpenPrivate,2013,...,1738-10-02T00:00:00+00:00,1738,EXP-2017-10-31-a,,[issue],False,NotDefined,2017-10-31T00:00:00+00:00,2017,True

## Date range

Items published between dates

In [14]:
from impresso import DateRange

result = impresso.search.find(q="banana", date_range=DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

1391 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1996-01-04-a-i0147,ar,| K,34,1,"[{'uid': 'LLE-1996-01-04-a-p0014', 'num': 14, ...",False,"| K IV Banana Comptabilité _ . . . -... _ _„ ,...",[article],OpenPrivate,1996,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

Same but excluding a range.

In [15]:
from impresso import DateRange

result = impresso.search.find(q="banana", date_range=~DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

522 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-2013-08-31-a-i0228,ar,"Banana, Feindouno et Feltscher à Lausanne",104,1,"[{'uid': 'EXP-2013-08-31-a-p0027', 'num': 27, ...",False,"Banana, Feindouno et Feltscher à Lausanne FOOT...",[article],OpenPrivate,2013,...,1738-10-02T00:00:00+00:00,1738,EXP-2017-10-31-a,,[issue],False,NotDefined,2017-10-31T00:00:00+00:00,2017,True

## Language

In [16]:
result = impresso.search.find(q="banana", language=OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]]

7 items found.

,title,language
uid,,
LLE-1969-09-26-a-i0120,avec un nouveau Programme des plus jolis...,en
FZG-1981-02-28-a-i0088,"Radio-Hitparade So., 19.00 Radio DRS 1 1...",en
FZG-1981-01-23-a-i0068,"Radio-Hitparade In der Radio-Hitparade, ...",en
luxland-2004-06-18-a-i0025,New Europe,en
luxland-2007-06-15-a-i0041,Letter to the Editor,en
luxland-2002-03-15-a-i0048,Tzedee-Produktioun,en
luxland-2005-09-09-a-i0019,Conflicting views about Europe's future,en

In [43]:
result = impresso.search.find(q="banana", language=~OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]].head(3)

1913 items found.

                                                            title language
uid
LLE-1996-01-04-a-i0147                                        | K       fr
EXP-2013-08-31-a-i0228  Banana, Feindouno et Feltscher à Lausanne       fr
IMP-2013-08-31-a-i0210  Banana, Feindouno et Feltscher à Lausanne       fr

## Entity mention

Search by entity mention.

In [44]:
result = impresso.search.find(mention=OR("Belval", "Lausanne"))
print(f"{result.total} items found.")
result.df.head(1)

2970432 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-2012-12-06-a-i0197,ad,Le taux le plus bas,113,1,"[{'uid': 'EXP-2012-12-06-a-p0024', 'num': 24, ...",False,Le taux le plus bas négocié la semaine du 26 n...,[article],OpenPrivate,2012,...,1738-10-02T00:00:00+00:00,1738,EXP-2017-10-31-a,,[issue],False,NotDefined,2017-10-31T00:00:00+00:00,2017,True

## Topic

In [45]:
result = impresso.search.find(topic_id=OR("tm-fr-all-v2.0_tp07_fr", "tm-fr-all-v2.0_tp48_fr"))
print(f"{result.total} items found.")
result.df.head(1)

3075009 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
IMP-1996-11-08-a-i0335,ar,ETAT CIVIL,1337,1,"[{'uid': 'IMP-1996-11-08-a-p0035', 'num': 35, ...",True,ETAT CIVIL Saint-Imier (octobre 1996) NAISSANC...,[article],OpenPrivate,1996,...,1881-01-01T00:00:00+00:00,1881,IMP-2018-01-22-a,,[issue],False,NotDefined,2018-01-22T00:00:00+00:00,2018,True

## Collection

In [46]:
result = impresso.search.find(collection_id="12312312")
print(f"{result.total} items found.")
result.df.head(1)

0 items found.

Empty DataFrame
Columns: []
Index: []

## Country

In [47]:
result = impresso.search.find(q="Schengen", country=OR("FR", "CH"))
print(f"{result.total} items found.")
result.df.head(1)

5592 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-2002-07-24-a-i0069,ar,REPERES| La révolution de Schengen,226,1,"[{'uid': 'LLE-2002-07-24-a-p0007', 'num': 7, '...",False,REPERES | La révolution de Schengen Conclu en ...,[article],OpenPrivate,2002,...,1871-10-01T00:00:00+00:00,1871,LLE-2012-12-31-a,,[issue],False,NotDefined,2012-12-31T00:00:00+00:00,2012,True

## Access rights

In [48]:
result = impresso.search.find(q="Schengen", access_rights="Closed")
print(f"{result.total} items found.")
result.df.head(1)

5999 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
luxembourg1935-1936-09-12-a-i0036,ar,Schengen.,87,1,"[{'uid': 'luxembourg1935-1936-09-12-a-p0003', ...",True,Schengen. —Service d’auto- bus. — A l’occasion...,[article],Closed,1936,...,1935-04-16T00:00:00+00:00,1935,luxembourg1935-1940-05-10-a,,[issue],False,NotDefined,1940-05-10T00:00:00+00:00,1940,True

## Partner

In [49]:
result = impresso.search.find(q="Schengen", partner_id="Migros")
print(f"{result.total} items found.")
result.df.head(1)

18 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
DTT-1969-04-30-a-i0159,ar,Das neue Statut der KP Chinas,447,1,"[{'uid': 'DTT-1969-04-30-a-p0002', 'num': 2, '...",False,"Das neue Statut der KP Chinas Peking , 29 . Ap...",[article],OpenPrivate,1969,...,1935-11-13T00:00:00+00:00,1935,DTT-1978-09-22-a,,[issue],False,NotDefined,1978-09-22T00:00:00+00:00,1978,True

## Text reuse cluster

In [50]:
from impresso import OR
result = impresso.search.find(text_reuse_cluster_id=~OR("tr-nobp-all-v01-c29"))
print(f"{result.total} items found.")
result.df.head(1)

44253492 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-1933-01-16-a-i0101,,,0,0,"[{'uid': 'EXP-1933-01-16-a-p0007', 'num': 7, '...",False,,[article],na,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Facets

Facet search method has the same parameters as the search method.

## Date range

In [51]:
result = impresso.search.facet("daterange", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

17 items found. Returning a page of 17 facets.

                      count
val
1861-01-01T00:00:00Z      3

## Year

In [52]:
result = impresso.search.facet("year", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

17 items found. Returning a page of 10 facets.

      count   uid  item.refs.c  item.refs.a  item.refs.m
val
1999     14  1999       311828       311828          NaN

## Content length

In [53]:
result = impresso.search.facet("contentLength", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

100 items found. Returning a page of 100 facets.

     count
val
0        6

## Month

In [54]:
result = impresso.search.facet("month", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

10 items found. Returning a page of 10 facets.

     count
val
12      16

## Country

In [55]:
result = impresso.search.facet("country", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

2 items found. Returning a page of 2 facets.

     count
val
CH      55
LU       1

## Type

In [56]:
result = impresso.search.facet("type")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

8 items found. Returning a page of 8 facets.

            count
val
ar       24836851
ad       14856907
page       559709
ob         123835
uc          81666
tb          62619
w            2735
picture         1

## Topic

In [57]:
result = impresso.search.facet("topic", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

263 items found. Returning a page of 10 facets.

,count,uid,item.uid,item.language,item.community,item.pagerank,item.degree,item.x,item.y,item.relatedTopics,item.countItems,item.excerpt,item.words,item.model
val,,,,,,,,,,,,,,
tm-fr-all-v2.0_tp43_fr,14595,tm-fr-all-v2.0_tp43_fr,tm-fr-all-v2.0_tp43_fr,fr,,0,0,0,0,"[{'uid': 'tm-fr-all-v2.0_tp43_fr', 'w': 194052...",1940529,"[{'w': 'café', 'p': 0.0219}, {'w': 'vin', 'p':...","[{'w': 'café', 'p': 0.0219}, {'w': 'vin', 'p':...",tm-fr-all-v2.0

## Collection

In [58]:
result = impresso.search.facet("collection", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

1 items found. Returning a page of 1 facets.

,count,uid,item.uid,item.name,item.description,item.status,item.creationDate,item.lastModifiedDate,item.countItems,item.creator.uid,item.creator.username,item.labels
val,,,,,,,,,,,,
local-roka-UaJ1domy,16,local-roka-UaJ1domy,local-roka-UaJ1domy,estelle-test-collection-for-recsys-not-working,containing paris roubaix or paris roubais or ...,PRI,2020-09-24T09:11:42+00:00,2020-09-24T09:14:51.970000+00:00,6193,local-roka,roman.kalyakin,"[bucket, collection]"

## Newspaper

In [59]:
result = impresso.search.facet("newspaper", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

64 items found. Returning a page of 10 facets.

,count,uid,item.uid,item.acronym,item.labels,item.languages,item.included,item.name,item.endYear,item.startYear,...,item.firstIssue.date,item.firstIssue.year,item.lastIssue.uid,item.lastIssue.cover,item.lastIssue.labels,item.lastIssue.fresh,item.lastIssue.accessRights,item.lastIssue.date,item.lastIssue.year,item.fetched
val,,,,,,,,,,,,,,,,,,,,,
EXP,9563,EXP,EXP,EXP,[newspaper],[fr],True,L'Express,2018,1738,...,1738-10-02T00:00:00+00:00,1738,EXP-2017-10-31-a,,[issue],False,NotDefined,2017-10-31T00:00:00+00:00,2017,True

## Language

In [60]:
result = impresso.search.facet("language", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

     count uid
val
fr   46786  fr
de    9894  de
lb      31  lb
en      19  en

## Person

In [61]:
result = impresso.search.facet("person", q="pomme", offset=32850)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

32857 items found. Returning a page of 7 facets.

,count,uid,item.uid
val,,,
aida-0001-50-Đức_Thọ_District,1,aida-0001-50-Đức_Thọ_District,aida-0001-50-Đức_Thọ_District
aida-0001-50-Īve_parish,1,aida-0001-50-Īve_parish,aida-0001-50-Īve_parish
aida-0001-50-İsmet_İnönü,1,aida-0001-50-İsmet_İnönü,aida-0001-50-İsmet_İnönü
aida-0001-50-Šabina,1,aida-0001-50-Šabina,aida-0001-50-Šabina
aida-0001-50-Štefan_Margita,1,aida-0001-50-Štefan_Margita,aida-0001-50-Štefan_Margita
aida-0001-50-Štefan_Uher,1,aida-0001-50-Štefan_Uher,aida-0001-50-Štefan_Uher
aida-0001-50-Željko_Ražnatović,1,aida-0001-50-Željko_Ražnatović,aida-0001-50-Željko_Ražnatović

## Location

In [62]:
result = impresso.search.facet("location", q="pomme", offset=9900)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

9903 items found. Returning a page of 3 facets.

                     count                  uid             item.uid
val
aida-0001-54-Štip        1    aida-0001-54-Štip    aida-0001-54-Štip
aida-0001-54-Żnin        1    aida-0001-54-Żnin    aida-0001-54-Żnin
aida-0001-54-Žilina      1  aida-0001-54-Žilina  aida-0001-54-Žilina

## NAG

In [63]:
from impresso import AND, OR
result = impresso.search.facet("nag", title=AND("homme", "femme") & OR("luxembourg", "suisse") & ~AND("Théâtre"))
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

0 items found. Returning a page of 0 facets.

Empty DataFrame
Columns: []
Index: []

## Access rights

In [64]:
result = impresso.search.facet("accessRight", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

             count
val
OpenPrivate  47691
Closed        5677
OpenPublic    2128
na            1234

## Partner

In [65]:
result = impresso.search.facet("partner", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

        count
val
SNL     47887
BNL      4862
NZZ      2751
Migros   1230