In [1]:
from impresso import connect

impresso = connect("https://dev.impresso-project.ch/public-api", persisted_token=True)

üéâ You are now connected to the Impresso API!  üéâ

# Search

## Term
Text content contains `impresso`

In [41]:
result = impresso.search.find(q="impresso")
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre √§ Domdidier cherche pour ...,[article],OpenPrivate,1976,...,True,La Libert√©,2018,1871,-1,-1,-1,147,[],True

## With text content only
Search items that have text content

In [42]:
result = impresso.search.find(q="impresso", with_text_contents=True)
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre √§ Domdidier cherche pour ...,[article],OpenPrivate,1976,...,True,La Libert√©,2018,1871,-1,-1,-1,147,[],True

## Title
Find items that have the provided term in title

In [43]:
result = impresso.search.find(title="impresso")
print(f"{result.total} items found.")
result.df.head(1)

2 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
FZG-1995-11-27-a-i0121,ar,"Kaffeemaschine ""Impresso"" B√ºgeleisen Dampfrein...",22,1,"[{'uid': 'FZG-1995-11-27-a-p0004', 'num': 4, '...",False,Kaffeemaschine Impresso B√ºgeleisen Dampfreinig...,[article],OpenPrivate,1995,...,True,Freiburger Nachrichten,2018,1865,-1,-1,-1,153,[],True

Find items that have both terms

In [44]:
from impresso import AND, OR

result = impresso.search.find(title=AND("homme", "femme"))
print(f"{result.total} items found.")
result.df.head(1)

587 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-06-03-a-i0150,ar,‚Äî Qui l'a appelee ? Un homme ? Une femme...,91,1,"[{'uid': 'LLE-1961-06-03-a-p0015', 'num': 15, ...",False,‚Äî Qui la appelee ? Un homme ? Une femme ? dema...,[article],OpenPrivate,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Find items that have any of the terms

In [45]:
from impresso import OR

result = impresso.search.find(title=OR("impresso", "Kaffeemaschine"))
print(f"{result.total} items found.")
result.df.head(1)

31 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
FZG-2006-08-30-a-i0190,ar,Kaffeemaschine DELIZI0 Comfort,1,1,"[{'uid': 'FZG-2006-08-30-a-p0030', 'num': 30, ...",False,,[article],OpenPrivate,2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Inverted search (not any of the terms)

In [46]:
from impresso import OR

result = impresso.search.find(q="impresso", title=~OR("impresso", "Kaffeemaschine"))
print(f"{result.total} items found.")
result.df.head(1)

55 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre √§ Domdidier cherche pour ...,[article],OpenPrivate,1976,...,True,La Libert√©,2018,1871,-1,-1,-1,147,[],True

Complex combintation of terms

In [47]:
from impresso import AND, OR

result = impresso.search.find(title=AND("homme", "femme") & OR("luxembourg", "suisse") & ~AND("Th√©√¢tre"))
print(f"{result.total} items found.")
result.df["title"].tolist()

5 items found.

["De plus en plus, la femme suisse devient l'√©gale de l'homme",
 'BULLETIN SUISSE Une femme √©gale un homme',
 'BULLETIN SUISSE Une femme √©gale un homme',
 "Conseil en assurances Homme ou Femme ' Soci√©t√© suisse Gen√®ve",
 "L'homme suisse' juge par sa femme"]

## Front page

Find articles published on the front page only

In [48]:
result = impresso.search.find(q="impresso", front_page=True)
print(f"{result.total} items found.")
result.df.head(1)

1 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1970-11-10-a-i0021,ar,Rencontre Scheel-Cyrankiewicz,249,1,"[{'uid': 'LLE-1970-11-10-a-p0001', 'num': 1, '...",False,Rencontre Scheel-Cyrankiewicz M . Walter Schee...,[article],OpenPrivate,1970,...,True,La Libert√©,2018,1871,-1,-1,-1,147,[],True

## Entity ID

Search by entity ID

In [49]:
result = impresso.search.find(entity_id="aida-0001-54-Switzerland")
print(f"{result.total} items found.")
result.df.head(1)

2373440 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-01-09-a-i0098,ar,Valeur,546,1,"[{'uid': 'LLE-1961-01-09-a-p0013', 'num': 13, ...",False,Valeur Emission de Lachat de parts du Fonds Su...,[article],OpenPrivate,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
result = impresso.search.find(entity_id=AND("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

626 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-2013-10-02-a-i0190,ar,"Fleurier, p√©pini√®re de Nobel",664,1,"[{'uid': 'EXP-2013-10-02-a-p0029', 'num': 29, ...",False,"Fleurier, p√©pini√®re de Nobel SCIENCES Deux sav...",[article],OpenPrivate,2013,...,1740-01-01T00:00:00+00:00,1740,EXP-2017-10-31-a,,[issue],False,Closed,2017-10-31T00:00:00+00:00,2017,True

In [51]:
result = impresso.search.find(entity_id=OR("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

## Newspaper

Search by newspaper

In [ ]:
result = impresso.search.find(q="banana", newspaper_id=OR("EXP", "GDL"))
print(f"{result.total} items found.")
result.df.head(1)

## Date range

Items published between dates

In [ ]:
from impresso import DateRange

result = impresso.search.find(q="banana", date_range=DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

Same but excluding a range.

In [ ]:
from impresso import DateRange

result = impresso.search.find(q="banana", date_range=~DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

## Language

In [ ]:
result = impresso.search.find(q="banana", language=OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]]

In [ ]:
result = impresso.search.find(q="banana", language=~OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]].head(3)

## Entity mention

Search by entity mention.

In [ ]:
result = impresso.search.find(mention=OR("Belval", "Lausanne"))
print(f"{result.total} items found.")
result.df.head(1)

## Topic

In [ ]:
result = impresso.search.find(topic_id=OR("tm-fr-all-v2.0_tp07_fr", "tm-fr-all-v2.0_tp48_fr"))
print(f"{result.total} items found.")
result.df.head(1)

## Collection

In [ ]:
result = impresso.search.find(collection_id="12312312")
print(f"{result.total} items found.")
result.df.head(1)

## Country

In [ ]:
result = impresso.search.find(q="Schengen", country=OR("FR", "CH"))
print(f"{result.total} items found.")
result.df.head(1)

## Access rights

In [ ]:
result = impresso.search.find(q="Schengen", access_rights="Closed")
print(f"{result.total} items found.")
result.df.head(1)

## Partner

In [ ]:
result = impresso.search.find(q="Schengen", partner_id="Migros")
print(f"{result.total} items found.")
result.df.head(1)

## Text reuse cluster

In [ ]:
from impresso import OR
result = impresso.search.find(text_reuse_cluster_id=~OR("tr-nobp-all-v01-c29"))
print(f"{result.total} items found.")
result.df.head(1)

# Facets

Facet search method has the same parameters as the search method.

## Date range

In [2]:
result = impresso.search.facet("daterange", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

17 items found. Returning a page of 17 facets.

                      count
val
1861-01-01T00:00:00Z      3

## Year

In [3]:
result = impresso.search.facet("year", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

17 items found. Returning a page of 10 facets.

      count   uid  item.y  item.refs.c  item.refs.a
val
1999     14  1999    1999       169234       166672

## Content length

In [4]:
result = impresso.search.facet("contentLength", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

100 items found. Returning a page of 100 facets.

     count
val
0        6

## Month

In [5]:
result = impresso.search.facet("month", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

10 items found. Returning a page of 10 facets.

     count
val
12      16

## Country

In [6]:
result = impresso.search.facet("country", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

2 items found. Returning a page of 2 facets.

     count
val
CH      55
LU       1

## Type

In [7]:
result = impresso.search.facet("type")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

8 items found. Returning a page of 8 facets.

            count
val
ar       24836851
ad       14856907
page       559709
ob         123835
uc          81666
tb          62619
w            2735
picture         1

## Topic

In [8]:
result = impresso.search.facet("topic", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

263 items found. Returning a page of 10 facets.

,count,uid,item.uid,item.language,item.words,item.model,item.excerpt,item.countItems,item.relatedTopics,item.x,item.y,item.degree,item.pagerank,item.community
val,,,,,,,,,,,,,,
tm-fr-all-v2.0_tp43_fr,14595,tm-fr-all-v2.0_tp43_fr,,,[],,[],-1,[],0,0,0,0,

## Collection

In [9]:
result = impresso.search.facet("collection", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

1 items found. Returning a page of 1 facets.

,count,uid,item.uid,item.labels,item.name,item.description,item.countItems,item.creationDate,item.status,item.lastModifiedDate,item.creator.uid,item.creator.username
val,,,,,,,,,,,,
local-roka-UaJ1domy,16,local-roka-UaJ1domy,local-roka-UaJ1domy,"[bucket, collection]",estelle-test-collection-for-recsys-not-working,containing paris roubaix or paris roubais or ...,6193,2020-09-24T09:11:42.000Z,PRI,2020-09-24T09:14:51.970Z,local-roka,roman.kalyakin

## Newspaper

In [10]:
result = impresso.search.facet("newspaper", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

64 items found. Returning a page of 10 facets.

,count,uid,item.uid,item.acronym,item.labels,item.languages,item.properties,item.included,item.name,item.endYear,...,item.lastIssue.labels,item.lastIssue.fresh,item.lastIssue.accessRights,item.lastIssue.date,item.lastIssue.year,item.countArticles,item.countIssues,item.countPages,item.fetched,item.deltaYear
val,,,,,,,,,,,,,,,,,,,,,
EXP,9563,EXP,EXP,EXP,[newspaper],[fr],"[{'name': 'provenanceId', 'value': '(Sz)001590...",True,L'Express,2018,...,[issue],False,Closed,2017-10-31T00:00:00.000Z,2017,8397287,46204,701819,True,280

## Language

In [11]:
result = impresso.search.facet("language", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

     count uid
val
fr   46786  fr
de    9894  de
lb      31  lb
en      19  en

## Person

In [12]:
result = impresso.search.facet("person", q="pomme", offset=32850)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

32857 items found. Returning a page of 7 facets.

,count,uid,item.uid,item.name,item.type
val,,,,,
aida-0001-50-ƒê·ª©c_Th·ªç_District,1,aida-0001-50-ƒê·ª©c_Th·ªç_District,aida-0001-50-ƒê·ª©c_Th·ªç_District,ƒê·ª©c Th·ªç District,person
aida-0001-50-ƒ™ve_parish,1,aida-0001-50-ƒ™ve_parish,aida-0001-50-ƒ™ve_parish,ƒ™ve parish,person
aida-0001-50-ƒ∞smet_ƒ∞n√∂n√º,1,aida-0001-50-ƒ∞smet_ƒ∞n√∂n√º,aida-0001-50-ƒ∞smet_ƒ∞n√∂n√º,ƒ∞smet ƒ∞n√∂n√º,person
aida-0001-50-≈†abina,1,aida-0001-50-≈†abina,aida-0001-50-≈†abina,≈†abina,person
aida-0001-50-≈†tefan_Margita,1,aida-0001-50-≈†tefan_Margita,aida-0001-50-≈†tefan_Margita,≈†tefan Margita,person
aida-0001-50-≈†tefan_Uher,1,aida-0001-50-≈†tefan_Uher,aida-0001-50-≈†tefan_Uher,≈†tefan Uher,person
aida-0001-50-≈Ωeljko_Ra≈ænatoviƒá,1,aida-0001-50-≈Ωeljko_Ra≈ænatoviƒá,aida-0001-50-≈Ωeljko_Ra≈ænatoviƒá,≈Ωeljko Ra≈ænatoviƒá,person

## Location

In [14]:
result = impresso.search.facet("location", q="pomme", offset=9900)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

9903 items found. Returning a page of 3 facets.

,count,uid,item.uid,item.name,item.type
val,,,,,
aida-0001-54-≈†tip,1,aida-0001-54-≈†tip,aida-0001-54-≈†tip,≈†tip,location
aida-0001-54-≈ªnin,1,aida-0001-54-≈ªnin,aida-0001-54-≈ªnin,≈ªnin,location
aida-0001-54-≈Ωilina,1,aida-0001-54-≈Ωilina,aida-0001-54-≈Ωilina,≈Ωilina,location

## NAG

In [2]:
from impresso import AND, OR
result = impresso.search.facet("nag", title=AND("homme", "femme") & OR("luxembourg", "suisse") & ~AND("Th√©√¢tre"))
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

NameError: name 'AND' is not defined

## Access rights

In [19]:
result = impresso.search.facet("accessRight", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

             count
val
OpenPrivate  47691
Closed        5677
OpenPublic    2128
na            1234

## Partner

In [20]:
result = impresso.search.facet("partner", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

        count
val
SNL     47887
BNL      4862
NZZ      2751
Migros   1230