In [3]:
from impresso import connect

impresso = connect()

🎉 You are now connected to the Impresso API!  🎉
🔗 Using API: https://dev.impresso-project.ch/public-api

# Search

Find articles in Impresso using a variety of different filters.

## Term

Find all items containing "impresso" keyword.

In [4]:
result = impresso.search.find(q="impresso")
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre ä Domdidier cherche pour ...,[article],OpenPrivate,1976,...,True,La Liberté,2018,1871,-1,-1,-1,147,[],True

## With text content only

Limit to articles that have text.

In [5]:
result = impresso.search.find(q="impresso", with_text_contents=True)
print(f"{result.total} items found.")
result.df.head(1)

56 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1976-02-23-a-i0207,ad,UNKNOWN,37,1,"[{'uid': 'LLE-1976-02-23-a-p0004', 'num': 4, '...",False,IMPRESSO-RAPID Carre ä Domdidier cherche pour ...,[article],OpenPrivate,1976,...,True,La Liberté,2018,1871,-1,-1,-1,147,[],True

## Title
Find items that have the keyword "impresso" in their title.

In [6]:
result = impresso.search.find(title="impresso")
print(f"{result.total} items found.")
result.df.head(1)

2 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
FZG-1995-11-27-a-i0121,ar,"Kaffeemaschine ""Impresso"" Bügeleisen Dampfrein...",22,1,"[{'uid': 'FZG-1995-11-27-a-p0004', 'num': 4, '...",False,Kaffeemaschine Impresso Bügeleisen Dampfreinig...,[article],OpenPrivate,1995,...,True,Freiburger Nachrichten,2018,1865,-1,-1,-1,153,[],True

### Complex term requests
Find items that have both terms.

In [7]:
from impresso import AND

result = impresso.search.find(title=AND("homme", "femme"))
print(f"{result.total} items found.")
result.df.head(1)

587 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-06-03-a-i0150,ar,— Qui l'a appelee ? Un homme ? Une femme...,91,1,"[{'uid': 'LLE-1961-06-03-a-p0015', 'num': 15, ...",False,— Qui la appelee ? Un homme ? Une femme ? dema...,[article],OpenPrivate,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Find items that have either one term or the other.

Here we find all articles that contain either "homme" or "femme" in the title.

In [8]:
from impresso import OR

result = impresso.search.find(title=OR("homme", "femme"))
print(f"{result.total} items found.")
result.df.head(1)

57848 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-1933-01-17-a-i0003,ar,One jeune femme promet le mariage à son maître...,132,1,"[{'uid': 'EXP-1933-01-17-a-p0001', 'num': 1, '...",True,One jeune femme promet le mariage à son maître...,[article],OpenPrivate,1933,...,1740-01-01T00:00:00+00:00,1740,EXP-2017-10-31-a,,[issue],False,Closed,2017-10-31T00:00:00+00:00,2017,True

## Inverted search (everything excluding term A __OR__ term B).

We want to find all articles with the word "luddite" in the title that do not mention neither "textile" nor "machine"

In [9]:
from impresso import OR

result = impresso.search.find(title="luddite", q=~OR("textile", "machine"))
print(f"{result.total} items found.")
result.df.head(1)

1 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LES-2010-02-01-a-i0024,ar,"La révolte luddite Kirkpatrick Sale, Edition L...",1,1,"[{'uid': 'LES-2010-02-01-a-p0011', 'num': 11, ...",False,"LarévolteludditeKirkpatrickSale,EditionL’Echap...",[article],OpenPrivate,2010,...,1906-01-01T00:00:00+00:00,1906,LES-2015-01-01-a,,[issue],False,Closed,2015-01-01T00:00:00+00:00,2015,True

### Complex combintation of terms

The following cell searches all articles with all of the the following condition:

* mentioning "hitler" and "stalin"
* also mentioning one of: "molotow" or "ribbentrop"
* and not mentioning "churchill"

In [10]:
from impresso import AND, OR

result = impresso.search.find(q=AND("hitler", "stalin") & OR("molotow", "ribbentrop") & ~OR("churchill"))
print(f"{result.total} items found.")

462 items found.

## Front page

Find articles published on the front page only

In [11]:
result = impresso.search.find(q="impresso", front_page=True)
print(f"{result.total} items found.")
result.df.head(1)

1 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.included,newspaper.name,newspaper.endYear,newspaper.startYear,newspaper.countArticles,newspaper.countIssues,newspaper.countPages,newspaper.deltaYear,newspaper.properties,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1970-11-10-a-i0021,ar,Rencontre Scheel-Cyrankiewicz,249,1,"[{'uid': 'LLE-1970-11-10-a-p0001', 'num': 1, '...",False,Rencontre Scheel-Cyrankiewicz M . Walter Schee...,[article],OpenPrivate,1970,...,True,La Liberté,2018,1871,-1,-1,-1,147,[],True

## Entity ID

Search by entity ID

In [12]:
result = impresso.search.find(entity_id="aida-0001-54-Switzerland")
print(f"{result.total} items found.")
result.df.head(1)

2373440 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-01-09-a-i0098,ar,Valeur,546,1,"[{'uid': 'LLE-1961-01-09-a-p0013', 'num': 13, ...",False,Valeur Emission de Lachat de parts du Fonds Su...,[article],OpenPrivate,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Find all articles that mention Switzerland and Albert Einstein.

In [13]:
result = impresso.search.find(entity_id=AND("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

626 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
EXP-2013-10-02-a-i0190,ar,"Fleurier, pépinière de Nobel",664,1,"[{'uid': 'EXP-2013-10-02-a-p0029', 'num': 29, ...",False,"Fleurier, pépinière de Nobel SCIENCES Deux sav...",[article],OpenPrivate,2013,...,1740-01-01T00:00:00+00:00,1740,EXP-2017-10-31-a,,[issue],False,Closed,2017-10-31T00:00:00+00:00,2017,True

Find all articles that mention either Switzerland or Albert Einstein.

In [14]:
result = impresso.search.find(entity_id=OR("aida-0001-54-Switzerland", "aida-0001-50-Albert_Einstein"))
print(f"{result.total} items found.")
result.df.head(1)

2374957 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-1961-01-09-a-i0098,ar,Valeur,546,1,"[{'uid': 'LLE-1961-01-09-a-p0013', 'num': 13, ...",False,Valeur Emission de Lachat de parts du Fonds Su...,[article],OpenPrivate,1961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Newspaper

Limit search to two newspapers

In [16]:
result = impresso.search.find(q="independence", newspaper_id=OR("EXP", "GDL"))
print(f"{result.total} items found.")
result.df.head(1)

481 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
GDL-1951-04-04-a-i0086,ad,'événement de 1951 est sans,223,1,"[{'uid': 'GDL-1951-04-04-a-p0004', 'num': 4, '...",True,'événement de 1951 est sans contredit l'inaugu...,[article],OpenPrivate,1951,...,1798-02-01T00:00:00+00:00,1798,GDL-1998-02-28-a,,[issue],False,Closed,1998-02-28T00:00:00+00:00,1998,True

## Date range

Items published between dates

In [17]:
from impresso import DateRange

result = impresso.search.find(q="independence", date_range=DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

1898 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
JDG-1957-10-25-a-i0032,ad,Hommes d'affaires ! Vous vc...,175,1,"[{'uid': 'JDG-1957-10-25-a-p0003', 'num': 3, '...",True,Hommes d'affaires ! Vous vc... devez de... ......,[article],OpenPrivate,1957,...,1826-01-01T00:00:00+00:00,1826,JDG-1997-12-31-a,,[issue],False,Closed,1997-12-31T00:00:00+00:00,1997,True

Articles published at any time excluding the range (not the `~` that negates the range).

In [18]:
from impresso import DateRange

result = impresso.search.find(q="independence", date_range=~DateRange("1921-05-21", "2001-01-02"))
print(f"{result.total} items found.")
result.df.head(1)

411 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
IMP-2016-08-08-a-i0095,ar,« Independence Day : Resurgence,12,1,"[{'uid': 'IMP-2016-08-08-a-p0013', 'num': 13, ...",False,« Independence Day : Resurgence » : défense pl...,[article],OpenPrivate,2016,...,1881-01-01T00:00:00+00:00,1881,IMP-2018-01-22-a,,[issue],False,Closed,2018-01-22T00:00:00+00:00,2018,True

## Language

Search for the term "banana" in English or Italian.

In [20]:
result = impresso.search.find(q="banana", language=OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]]

7 items found.

,title,language
uid,,
LLE-1969-09-26-a-i0120,avec un nouveau Programme des plus jolis...,en
FZG-1981-02-28-a-i0088,"Radio-Hitparade So., 19.00 Radio DRS 1 1...",en
FZG-1981-01-23-a-i0068,"Radio-Hitparade In der Radio-Hitparade, ...",en
luxland-2004-06-18-a-i0025,New Europe,en
luxland-2007-06-15-a-i0041,Letter to the Editor,en
luxland-2002-03-15-a-i0048,Tzedee-Produktioun,en
luxland-2005-09-09-a-i0019,Conflicting views about Europe's future,en

And now search for the word "banana" in any language _except_ English or Italian.

In [19]:
result = impresso.search.find(q="banana", language=~OR("it", "en"))
print(f"{result.total} items found.")
result.df[["title", "language"]].head(3)

1913 items found.

                                                            title language
uid
LLE-1996-01-04-a-i0147                                        | K       fr
EXP-2013-08-31-a-i0228  Banana, Feindouno et Feltscher à Lausanne       fr
IMP-2013-08-31-a-i0210  Banana, Feindouno et Feltscher à Lausanne       fr

## Entity mention

Find articles that mention two entities.

In [29]:
result = impresso.search.find(mention=AND("Charlie Chaplin", "Switzerland"))
print(f"{result.total} items found.")
result.df.head(1)

49 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
NZZ-1947-02-28-c-i0008,page,CINEMA WNEGUTtPAKTIA Eilh » Willi,1292,1,"[{'uid': 'NZZ-1947-02-28-c-p0008', 'num': 8, '...",True,CINEMA WNEGUTtPAKTIA Eilh » Willi «»!. V .» Je...,[article],Closed,1947,...,1780-01-12T00:00:00+00:00,1780,NZZ-1950-12-31-a,,[issue],False,Closed,1950-12-31T00:00:00+00:00,1950,True

## Topic

Find articles that match either of the two topics.

In [31]:
result = impresso.search.find(topic_id=OR("tm-fr-all-v2.0_tp07_fr", "tm-fr-all-v2.0_tp48_fr"))
print(f"{result.total} items found.")
result.df.head(1)

3075009 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
IMP-2017-09-20-a-i0083,ar,HOROSCOPE,678,1,"[{'uid': 'IMP-2017-09-20-a-p0010', 'num': 10, ...",False,HOROSCOPE BÉLIER (21.3-20.4) Amour : vous aure...,[article],OpenPrivate,2017,...,1881-01-01T00:00:00+00:00,1881,IMP-2018-01-22-a,,[issue],False,Closed,2018-01-22T00:00:00+00:00,2018,True

## Collection

Find all articles in a collection.

In [32]:
result = impresso.search.find(collection_id="REPLACEME")
print(f"{result.total} items found.")
result.df.head(1)

0 items found.

Empty DataFrame
Columns: []
Index: []

## Country

Find all articles published in either of the two specified countries.

In [35]:
result = impresso.search.find(q="Schengen", country=OR("FR", "CH"))
print(f"{result.total} items found.")
result.df.head(1)

5592 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.accessRights,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year
uid,,,,,,,,,,,,,,,,,,,,,
LLE-2002-07-24-a-i0069,ar,REPERES| La révolution de Schengen,226,1,"[{'uid': 'LLE-2002-07-24-a-p0007', 'num': 7, '...",False,REPERES | La révolution de Schengen Conclu en ...,[article],OpenPrivate,2002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Access rights

Limit search to articles with specific access rights.

In [36]:
result = impresso.search.find(q="Schengen", access_rights="Closed")
print(f"{result.total} items found.")
result.df.head(1)

5999 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
luxembourg1935-1936-09-12-a-i0036,ar,Schengen.,87,1,"[{'uid': 'luxembourg1935-1936-09-12-a-p0003', ...",True,Schengen. —Service d’auto- bus. — A l’occasion...,[article],Closed,1936,...,1935-04-16T00:00:00+00:00,1935,luxembourg1935-1940-05-10-a,,[issue],False,Closed,1940-05-10T00:00:00+00:00,1940,True

## Partner

Limit search to articles provided by a specific partner of the Impresso project.

In [49]:
result = impresso.search.find(q="Schengen", partner_id="Migros")
print(f"{result.total} items found.")
result.df.head(1)

18 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
DTT-1969-04-30-a-i0159,ar,Das neue Statut der KP Chinas,447,1,"[{'uid': 'DTT-1969-04-30-a-p0002', 'num': 2, '...",False,"Das neue Statut der KP Chinas Peking , 29 . Ap...",[article],OpenPrivate,1969,...,1935-11-13T00:00:00+00:00,1935,DTT-1978-09-22-a,,[issue],False,NotDefined,1978-09-22T00:00:00+00:00,1978,True

## Text reuse cluster

Find all articles that are part of a specific text reuse cluster.

In [37]:
from impresso import OR
result = impresso.search.find(text_reuse_cluster_id=OR("tr-nobp-all-v01-c29"))
print(f"{result.total} items found.")
result.df.head(1)

39032 items found.

,type,title,size,nbPages,pages,isCC,excerpt,labels,accessRight,year,...,newspaper.firstIssue.date,newspaper.firstIssue.year,newspaper.lastIssue.uid,newspaper.lastIssue.cover,newspaper.lastIssue.labels,newspaper.lastIssue.fresh,newspaper.lastIssue.accessRights,newspaper.lastIssue.date,newspaper.lastIssue.year,newspaper.fetched
uid,,,,,,,,,,,,,,,,,,,,,
JDG-1985-11-15-a-i0074,ar,SOCIETES,542,1,"[{'uid': 'JDG-1985-11-15-a-p0011', 'num': 11, ...",True,SOCIETES BANQUE CRÉDIT SUISSE.-Le conseil d'ad...,[article],OpenPrivate,1985,...,1826-01-01T00:00:00+00:00,1826,JDG-1997-12-31-a,,[issue],False,Closed,1997-12-31T00:00:00+00:00,1997,True

# Facets

Facets are a way to get a summary of the search results from the perspective of a specific field. In a facet search result the field values are grouped together and the number of items in each group is displayed. 

Facet search method has the same attributes as the search method.

## Date range

Get the number of articles that mention "Impresso", published on ever particular date.

In [38]:
result = impresso.search.facet("daterange", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(3)

17 items found. Returning a page of 17 facets.

                      count
val
1861-01-01T00:00:00Z      3
1894-01-01T00:00:00Z      1
1946-01-01T00:00:00Z      1

## Year

Get the number of articles that mention "impresso", published during every particular year.

In [39]:
result = impresso.search.facet("year", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(3)

17 items found. Returning a page of 10 facets.

      count   uid  item.refs.c  item.refs.a
val
1999     14  1999       169234       166672
1997     12  1997       302466       294125
1998     10  1998       195946       193217

## Content length

Get the number of articles that mention "impresso", grouped by content length.

In [40]:
result = impresso.search.facet("contentLength", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(3)

100 items found. Returning a page of 100 facets.

     count
val
0        6
100      6
200     11

## Month

Get the number of articles that mention "impresso", published during every particular month.

In [41]:
result = impresso.search.facet("month", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(3)

10 items found. Returning a page of 10 facets.

     count
val
12      16
11       9
9        6

## Country

Get the number of articles that mention "impresso", grouped by country they were published in.

In [42]:
result = impresso.search.facet("country", q="impresso")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

2 items found. Returning a page of 2 facets.

     count
val
CH      55
LU       1

## Type

Get the number of items that mention "impresso", grouped by type of item.

In [43]:
result = impresso.search.facet("type")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

8 items found. Returning a page of 8 facets.

            count
val
ar       24836851
ad       14856907
page       559709
ob         123835
uc          81666
tb          62619
w            2735
picture         1

## Topic

Find topics that the articles mentioning "impresso" are related to.

In [57]:
result = impresso.search.facet("topic", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

263 items found. Returning a page of 10 facets.

,count,uid,item.uid,item.language,item.community,item.pagerank,item.degree,item.x,item.y,item.relatedTopics,item.countItems,item.excerpt,item.words,item.model
val,,,,,,,,,,,,,,
tm-fr-all-v2.0_tp43_fr,14595,tm-fr-all-v2.0_tp43_fr,tm-fr-all-v2.0_tp43_fr,fr,,0,0,0,0,"[{'uid': 'tm-fr-all-v2.0_tp43_fr', 'w': 194052...",1940529,"[{'w': 'café', 'p': 0.0219}, {'w': 'vin', 'p':...","[{'w': 'café', 'p': 0.0219}, {'w': 'vin', 'p':...",tm-fr-all-v2.0

## Collection

Find collections the articles mentioning "pomme" are part of.

In [ ]:
result = impresso.search.facet("collection", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(1)

## Newspaper

Find newspapers that the articles mentioning "Schengen" were published in.

In [46]:
result = impresso.search.facet("newspaper", q="Schengen")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(3)

39 items found. Returning a page of 10 facets.

           count        uid   item.uid
val
obermosel   2751  obermosel  obermosel
luxwort     1789    luxwort    luxwort
LLE         1443        LLE        LLE

## Language

Find all languages the articles mentioning "impresso" were published in.

In [47]:
result = impresso.search.facet("language", q="Schengen")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

     count uid
val
fr    6446  fr
de    5784  de
lb     164  lb
en       2  en

## Person

Find all persons mentioned in articles that mention "Schengen". Get only the last page.

In [51]:
result = impresso.search.facet("person", q="Schengen", offset=7140)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

7143 items found. Returning a page of 3 facets.

,count,uid,item.uid
val,,,
aida-0001-50-Émile_Krieps,1,aida-0001-50-Émile_Krieps,aida-0001-50-Émile_Krieps
aida-0001-50-Éric_Ciotti,1,aida-0001-50-Éric_Ciotti,aida-0001-50-Éric_Ciotti
aida-0001-50-Íngrid_Betancourt,1,aida-0001-50-Íngrid_Betancourt,aida-0001-50-Íngrid_Betancourt

## Location

Find all locations mentioned in articles that mention "Schengen". Get only the last page.

In [53]:
result = impresso.search.facet("location", q="Schengen", offset=3310)
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

3314 items found. Returning a page of 4 facets.

,count,uid,item.uid
val,,,
aida-0001-54-Östersund_Municipality,1,aida-0001-54-Östersund_Municipality,aida-0001-54-Östersund_Municipality
aida-0001-54-Ünye,1,aida-0001-54-Ünye,aida-0001-54-Ünye
aida-0001-54-Świnoujście,1,aida-0001-54-Świnoujście,aida-0001-54-Świnoujście
aida-0001-54-Šalčininkai,1,aida-0001-54-Šalčininkai,aida-0001-54-Šalčininkai

## NAG

Find all entities without a known type mentioned in articles that mention "homme" and "femme".

In [55]:
from impresso import AND, OR
result = impresso.search.facet("nag", title=AND("homme", "femme"))
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df.head(5)

6 items found. Returning a page of 6 facets.

                     count
val
bert-nag-55-ATS_SDA     50
bert-nag-55-AP          17
bert-nag-55-AFP         12
bert-nag-55-Reuters      6
bert-nag-55-UP_UPI       5

## Access rights

Get access rights of articles mentioning "pomme".

In [56]:
result = impresso.search.facet("accessRight", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

             count
val
OpenPrivate  47691
Closed        5677
OpenPublic    2128
na            1234

## Partner

Get Impresso partners that provided articles mentioning "pomme".

In [57]:
result = impresso.search.facet("partner", q="pomme")
print(f"{result.total} items found. Returning a page of {result.limit} facets.")
result.df

4 items found. Returning a page of 4 facets.

        count
val
SNL     47887
BNL      4862
NZZ      2751
Migros   1230