In [1]:
from impresso import connect, AND, OR

impresso = connect()

ðŸŽ‰ You are now connected to the Impresso API!  ðŸŽ‰
ðŸ”— Using API: https://dev.impresso-project.ch/public-api

# Text reuse clusters

## Find clusters mentioning text

In [2]:
impresso.text_reuse.clusters.find(
    text="banana",
    offset=2,
    limit=5,
    order_by="passages-count",
)

## Cluster size

In [3]:
impresso.text_reuse.clusters.find(
    text="banana",
    cluster_size=(50, 100),
)

## Mentioning text in title

In [4]:
impresso.text_reuse.clusters.find(
    title=AND("luxembourg", "suisse"),
    cluster_size=(100, 200),
)

## Lexical overlap

In [5]:
impresso.text_reuse.clusters.find(
    text="banana",
    lexical_overlap=(50, 51),
)

## Day delta

Number of days between the first and last mention of the text in the cluster.

In [6]:
impresso.text_reuse.clusters.find(
    text="banana",
    day_delta=(50, 100),
)

## Date range

In [7]:
from impresso import DateRange

impresso.text_reuse.clusters.find(
    text="banana", 
    date_range=DateRange("1921-05-21", "2001-01-02")
)

## Newspaper

In [8]:
impresso.text_reuse.clusters.find(
    text="banana", 
    newspaper_id=OR("EXP", "GDL"),
)

## Collection

In [9]:
impresso.text_reuse.clusters.find(collection_id="12312312")

## Front page

In [10]:
impresso.text_reuse.clusters.find(
    text="banana", 
    front_page=True,
)

## Topic

In [12]:
impresso.text_reuse.clusters.find(
    text="banana", 
    topic_id=OR("tm-fr-all-v2.0_tp07_fr", "tm-fr-all-v2.0_tp48_fr")
)

## Language

In [13]:
impresso.text_reuse.clusters.find(
    text="luxembourg", 
    language=OR("it", "en")
)

## Country

In [14]:
impresso.text_reuse.clusters.find(
    text="schengen", 
    country=OR("FR", "CH")
)

## Entity mention

In [15]:
impresso.text_reuse.clusters.find(
    text="schengen", 
    mention=OR("Belval", "Lausanne")
)

## Entity by ID

In [17]:
impresso.text_reuse.clusters.find(
    text="banana",
    entity_id="aida-0001-54-Switzerland"
)

# Text reuse clusters facets

## Date range

In [19]:
impresso.text_reuse.clusters.facet("daterange", lexical_overlap=(1, 2))

## Cluster size

In [21]:
impresso.text_reuse.clusters.facet(
    "textReuseClusterSize",
    lexical_overlap=(1, 2)
)

## Lexical overlap

In [23]:
impresso.text_reuse.clusters.facet(
    "textReuseClusterLexicalOverlap",
    lexical_overlap=(1, 2)
)

## Day delta

In [25]:
impresso.text_reuse.clusters.facet(
    "textReuseClusterDayDelta",
    lexical_overlap=(1, 2)
)

## Newspaper

In [27]:
impresso.text_reuse.clusters.facet(
    "newspaper",
    lexical_overlap=(1, 2)
)

# Text reuse passages

## Find passages mentioning text

In [29]:
impresso.text_reuse.passages.find(
    text="belval",
    offset=2,
    limit=5,
    order_by="clusterSize",
)

## Cluster size

In [31]:
impresso.text_reuse.passages.find(
    text="banana",
    cluster_size=(50, 100),
)

## Mentioning text in title

In [33]:
impresso.text_reuse.passages.find(
    title=AND("luxembourg", "suisse"),
    cluster_size=(100, 200),
)

## Lexical overlap

In [35]:
impresso.text_reuse.passages.find(
    text="banana",
    lexical_overlap=(50, 51),
)

## Day delta

Number of days between the first and last mention of the text in the cluster.

In [37]:
impresso.text_reuse.passages.find(
    text="banana",
    day_delta=(50, 100),
)

## Date range

In [39]:
from impresso import DateRange

impresso.text_reuse.passages.find(
    text="banana", 
    date_range=DateRange("1921-05-21", "2001-01-02")
)

## Newspaper

In [41]:
impresso.text_reuse.passages.find(
    text="banana", 
    newspaper_id=OR("EXP", "GDL"),
)

## Collection

In [43]:
impresso.text_reuse.passages.find(collection_id="12312312")

## Front page

In [45]:
impresso.text_reuse.passages.find(
    text="banana", 
    front_page=True,
)

## Topic

In [47]:
impresso.text_reuse.passages.find(
    text="banana", 
    topic_id=OR("tm-fr-all-v2.0_tp07_fr", "tm-fr-all-v2.0_tp48_fr")
)

## Language

In [49]:
impresso.text_reuse.passages.find(
    text="luxembourg", 
    language=OR("it", "en")
)

## Country

In [51]:
impresso.text_reuse.passages.find(
    text="schengen", 
    country=OR("FR", "CH")
)

## Entity mention

In [53]:
impresso.text_reuse.passages.find(
    text="schengen", 
    mention=OR("Belval", "Lausanne")
)

## Entity by ID

In [55]:
impresso.text_reuse.passages.find(
    text="banana",
    entity_id="aida-0001-54-Switzerland"
)

# Text reuse passages facets

## newspaper

In [57]:
impresso.text_reuse.clusters.facet("newspaper")

## daterange

In [59]:
impresso.text_reuse.passages.facet(
    "daterange",
    text="banana"
)

## yearmonth

In [61]:
impresso.text_reuse.passages.facet(
    "yearmonth",
    text="banana"
)

## year

In [63]:
impresso.text_reuse.passages.facet(
    "year",
    text="banana"
)

## connectedClusters

In [65]:
impresso.text_reuse.passages.facet(
    "connectedClusters",
    text="banana"
)

## textReuseClusterSize

In [67]:
impresso.text_reuse.passages.facet(
    "textReuseClusterSize",
    text="banana"
)

## textReuseClusterLexicalOverlap

In [69]:
impresso.text_reuse.passages.facet(
    "textReuseClusterLexicalOverlap",
    text="banana"
)

## textReuseClusterDayDelta

In [71]:
impresso.text_reuse.passages.facet(
    "textReuseClusterDayDelta",
    text="banana"
)

## textReuseCluster

In [73]:
impresso.text_reuse.passages.facet(
    "textReuseCluster",
    text="banana"
)

## collection

In [75]:
impresso.text_reuse.passages.facet(
    "collection",
    text="banana"
)

## topic

In [77]:
impresso.text_reuse.passages.facet("topic", text="banana")

## person

In [79]:
impresso.text_reuse.passages.facet("person", text="banana")

## location

In [81]:
impresso.text_reuse.passages.facet("location", text="banana")

## nag

In [83]:
impresso.text_reuse.passages.facet("nag", text="banana")

## language

In [85]:
impresso.text_reuse.passages.facet("language", text="banana")

## country

In [87]:
impresso.text_reuse.passages.facet("country", text="banana")